<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-bg">
    <div class="login-container">
      <h1 class="title">Welcome, Gamer!</h1>
      <ion-item class="custom-input">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" class="login-btn">Login</ion-button>
      <p class="register-link">New here? <a href="#">Create an account</a></p>
    </div>
  </ion-content>